<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>işlem sırası</ion-title>
    <ion-button slot="end" fill="clear" (click)="navigateToProfile()">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div style="padding-top: 1rem">
    <ion-text>
      <div class="date-time">
        <h3 class="text-color time">16:30</h3>
        <h3 class="text-color date">09.04.2021 Cuma</h3>
      </div>
    </ion-text>
    <ion-item lines="none" class="item">
      <div style="width: 100%">
        <ion-item
          button
          lines="none"
          detail="false"
          class="card-title-container"
          (click)="navigateToOrderDetails()"
        >
          <div style="width: 100%">
            <ion-label class="label text-color bold-text"
              >Revşan Deniz Yıldırım Çobanoğlu</ion-label
            >
            <ion-grid>
              <ion-row>
                <ion-col size="4" class="order-item"> 1 makina </ion-col>
                <ion-col size="5" class="order-item">
                  çamaşır yıkama std
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="order-item"> 10 gömlek </ion-col>
                <ion-col size="5" class="order-item"> ütü std </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div>
            <ion-label class="text-color order-code">A1897</ion-label>
            <ion-label class="text-color order-cost">teslim edilecek</ion-label>
          </div>
        </ion-item>
      </div>
    </ion-item>

    <ion-text>
      <div class="date-time">
        <h3 class="text-color time">16:45</h3>
      </div>
    </ion-text>
    <ion-item lines="none" class="item">
      <div style="width: 100%">
        <ion-item
          button
          lines="none"
          detail="false"
          class="card-title-container"
          (click)="navigateToOrderDetails()"
        >
          <div style="width: 100%">
            <ion-label class="label text-color bold-text"
              >Efe Çobanoğlu</ion-label
            >
            <ion-grid>
              <ion-row>
                <ion-col size="4" class="order-item"> 1 makina </ion-col>
                <ion-col size="5" class="order-item">
                  çamaşır yıkama std
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div>
            <ion-label class="text-color order-code">A1898</ion-label>
            <ion-label class="text-color order-cost">mağaza teslim</ion-label>
          </div>
        </ion-item>
      </div>
    </ion-item>

    <ion-text>
      <div class="date-time">
        <h3 class="text-color time">17:05</h3>
      </div>
    </ion-text>
    <ion-item lines="none" class="item" disabled="true">
      <div style="width: 100%">
        <ion-item
          button
          lines="none"
          detail="false"
          class="card-title-container"
          (click)="navigateToOrderDetails()"
        >
          <div style="width: 100%">
            <ion-label class="label text-color bold-text"
              >Emre Keskin</ion-label
            >
          </div>

          <div>
            <ion-label class="text-color order-code">A1901</ion-label>
          </div>
        </ion-item>
      </div>
    </ion-item>

    <ion-text>
      <div class="date-time">
        <h3 class="text-color time">17:14</h3>
      </div>
    </ion-text>
    <ion-item lines="none" class="item border-item">
      <div style="width: 100%">
        <ion-item
          button
          lines="none"
          detail="false"
          class="card-title-container"
          (click)="navigateToOrderDetails()"
        >
          <div style="width: 100%">
            <ion-label class="label text-color bold-text"
              >Levent Güren</ion-label
            >
            <ion-label class="label text-color">
              09.04.21 Cumartesi 17:14
            </ion-label>
          </div>

          <div>
            <ion-label class="text-color order-code">A1900</ion-label>
            <ion-label class="order-cost pink-text">teslim alınıcak</ion-label>
          </div>
        </ion-item>
      </div>
    </ion-item>

    <ion-text>
      <div class="date-time">
        <h3 class="text-color time">17:25</h3>
      </div>
    </ion-text>
    <ion-item lines="none" class="item">
      <div style="width: 100%">
        <ion-item
          button
          lines="none"
          detail="false"
          class="card-title-container"
          (click)="navigateToOrderDetails()"
        >
          <div style="width: 100%">
            <ion-label class="label text-color bold-text"
              >Mehmet Ali Ehliz</ion-label
            >
            <ion-grid>
              <ion-row>
                <ion-col size="4" class="order-item"> 1 takım elbise </ion-col>
                <ion-col size="5" class="order-item">
                  kuru temizleme std
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div>
            <ion-label class="text-color order-code">A1901</ion-label>
            <ion-label class="text-color order-cost">teslim edilecek</ion-label>
          </div>
        </ion-item>
      </div>
    </ion-item>

    <ion-text>
      <div class="date-time">
        <h3 class="text-color time">09:00</h3>
        <h3 class="text-color date">10.04.2021 Cumartesi</h3>
      </div>
    </ion-text>
    <ion-item lines="none" class="item">
      <div style="width: 100%">
        <ion-item
          button
          lines="none"
          detail="false"
          class="card-title-container"
          (click)="navigateToOrderDetails()"
        >
          <div style="width: 100%">
            <ion-label class="label text-color bold-text"
              >Ufuk Şentürk</ion-label
            >
            <ion-grid>
              <ion-row>
                <ion-col size="4" class="order-item"> 1 makina </ion-col>
                <ion-col size="5" class="order-item">
                  çamaşır yıkama std
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <div>
            <ion-label class="text-color order-code">A1902</ion-label>
            <ion-label class="text-color order-cost">teslim edilecek</ion-label>
          </div>
        </ion-item>
      </div>
    </ion-item>
  </div>
</ion-content>
