<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>sipariş listesi</ion-title>
    <ion-button slot="end" fill="clear" (click)="navigateToProfile()">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div style="padding-top: 1rem">
    <div *ngFor="let order of orderList; index as i ">
      <ion-text
        *ngIf="i == 0 || orderList[i].siparisTarihi.substring(0,9) != orderList[i-1].siparisTarihi.substring(0,9) "
      >
        <h3 class="text-color date">
          {{order.siparisTarihi | date: "d.M.yyyy EEEE"}}
        </h3>
      </ion-text>
      <ion-item lines="none" class="item">
        <div style="width: 100%">
          <ion-item
            button
            lines="none"
            detail="false"
            class="card-title-container"
            (click)="navigateToOrderDetails(order.siparisId)"
          >
            <ion-label class="label text-color bold-text"
              >{{order.musteriAdi}}</ion-label
            >
            <div>
              <ion-label class="text-color order-code"
                >{{order.siparisId}}</ion-label
              >
              <div *ngIf="order.fiyat.toString().includes('.'); else elseBlock">
                <ion-label class="text-color order-cost"
                  >{{order.fiyat}} tl</ion-label
                >
              </div>
              <ng-template #elseBlock
                ><ion-label class="text-color order-cost"
                  >{{order.fiyat}}.00 tl</ion-label
                >
              </ng-template>
            </div>
          </ion-item>
        </div>
      </ion-item>
    </div>
  </div>
</ion-content>
