<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div class="root">
    <div class="full-width">
      <ion-text>
        <h1 class="title">hoş geldiniz</h1>
      </ion-text>
    </div>

    <form
      [formGroup]="validations_form"
      (ngSubmit)="onSubmit(validations_form.value)"
      class="full-width"
    >
      <div>
        <div class="input-container">
          <ion-list class="list">
            <ion-item lines="none">
              <ion-icon name="mail-sharp" class="icon icon-color"></ion-icon>
              <ion-label class="text-1rem"> </ion-label>
              <ion-input
                type="text"
                formControlName="email"
                placeholder="e-mail"
              ></ion-input>
            </ion-item>
          </ion-list>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div
                class="error-message"
                *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)"
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </div>

        <div class="input-container">
          <ion-list class="list">
            <ion-item lines="none">
              <ion-icon name="lock-closed" class="icon icon-color"></ion-icon>
              <ion-label class="text-1rem"> </ion-label>
              <ion-input
                type="text"
                formControlName="password"
                placeholder="parola"
              ></ion-input>
            </ion-item>
          </ion-list>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.password "
            >
              <div
                class="error-message"
                *ngIf="validations_form.get('password').hasError(validation.type)&& (validations_form.get('password').dirty || validations_form.get('password').touched) "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </div>

        <div class="first-button-container">
          <ion-item lines="none" color="medium">
            <ion-label class="text-1rem">beni hatırla</ion-label>
            <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
          </ion-item>

          <ion-button
            fill="clear"
            expand="block"
            style="font-size: 0.8rem"
            class="toLowerCase"
            >parolamı hatırlamıyorum</ion-button
          >
        </div>
      </div>

      <div>
        <div class="full-width">
          <div class="button-padding">
            <ion-button
              expand="block"
              class="toLowerCase"
              type="submit"
              [disabled]="!validations_form.valid"
              >giriş yap</ion-button
            >
          </div>
        </div>
        <div class="full-width">
          <div class="button-padding btn-color">
            <ion-button
              (click)="navigateToSignup()"
              fill="outline"
              expand="block"
              color="primary"
              class="toLowerCase"
            >
              laundrative iş ortağı ol</ion-button
            >
          </div>
        </div>
      </div>
    </form>

    <ion-item color="medium" detail="false" lines="none" button>
      <ion-text class="gray bottom-text"
        >bu uygulama laundrative iş ortağı işletmeler içindir. daha önce kayıt
        oluşturmadıysanız <b> buraya </b> tıklayarak bizimle iletişime
        geçebilir, ücretsiz hesabınızı hemen oluşturabilirsiniz</ion-text
      >
    </ion-item>
  </div>
</ion-content>
