.header {
  padding-top: 20vh;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
}

.subtitle {
  text-align: center;
  font-size: 2.3rem;
  text-indent: 6rem;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.margin {
  margin: 0;
}
