<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>sipariş detayları</ion-title>
    <ion-button slot="end" fill="clear" (click)="navigateToProfile()">
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <div class="root" *ngIf="siparis">
    <div>
      <ion-item lines="none" class="card-title-container item">
        <div style="width: 100%">
          <ion-label class="label text-color bold-text"
            >{{siparis.musteriAdi}}</ion-label
          >
          <ion-grid>
            <div *ngFor="let item of siparis.detay">
              <ion-row>
                <ion-col size="6" class="order-item">
                  {{item.cinsAdi}}
                </ion-col>
                <ion-col size="5" class="order-item">
                  {{kategoriAdi[item.kategori]}} {{tipAdlari[item.tip]}}
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </div>

        <div style="height: 100%">
          <ion-label class="text-color order-code">{{siparisId}}</ion-label>
        </div>
      </ion-item>

      <!-- ÖDEME BİLGİSİ -->
      <ion-item lines="none" class="card-title-container cost-container">
        <div class="inner-container">
          <ion-label class="label pink-text bold-text">ödeme bilgisi</ion-label>

          <div style="width: 65%; padding-top: 1rem">
            <ion-grid style="text-align: right">
              <div *ngFor="let item of siparis.detay">
                <ion-row>
                  <ion-col size="8" class="order-item">
                    {{item.adet}} {{item.cinsAdi}} {{tipAdlari[item.tip]}}
                  </ion-col>
                  <ion-col size="3" class="order-item">
                    {{item.fiyat}},00 tl
                  </ion-col>
                </ion-row>
              </div>
              <ion-row>
                <ion-col size="8" class="order-item"> servis ücreti </ion-col>
                <ion-col size="3" class="order-item">
                  {{siparis.servisTutari}}
                </ion-col>
              </ion-row>
              <ion-row *ngIf="siparis.indirimOrani>0">
                <ion-col size="8" class="order-item">
                  {{indirimAdi[siparis.indirimTipi]}}
                </ion-col>
                <ion-col size="3" class="order-item">
                  {{siparis.indirimOrani}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="8" class="order-item"> kdv (%8) </ion-col>
                <ion-col size="3" class="order-item"> {{siparis.kdv}} </ion-col>
              </ion-row>
              <hr class="rounded" />

              <ion-row>
                <ion-col size="8" class="bold-text order-item">
                  toplam tutar
                </ion-col>

                <ion-col
                  *ngIf="siparis.fiyat.toString().includes('.'); else elseBlock"
                  size="3"
                  class="bold-text order-item"
                >
                  {{siparis.fiyat}} tl
                </ion-col>
                <ng-template #elseBlock>
                  <ion-col size="3" class="bold-text order-item">
                    {{siparis.fiyat}}.00 tl
                  </ion-col>
                </ng-template>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-item>

      <!-- TESLİM ETME TARİHİ  -->
      <ion-item lines="none" class="card-title-container cost-container">
        <div class="inner-container">
          <ion-label class="label pink-text bold-text"
            >teslim etme tarihi</ion-label
          >
          <div class="date-address-container">
            <ion-label class="text-color date-address-text"
              >{{siparis.teslimAlmaZamani | date: "dd.MM.yy EEEE ":'fr'}}
            </ion-label>
            <ion-label class="text-color date-address-text"
              >{{siparis.teslimAlmaZamani | date: "HH:mm"}}
            </ion-label>
          </div>
        </div>
      </ion-item>

      <!-- TESLİM ETME ADRESİ  -->
      <ion-item lines="none" class="card-title-container cost-container">
        <div class="inner-container">
          <ion-label class="label pink-text bold-text"
            >teslim etme adresi</ion-label
          >
          <div class="date-address-container">
            <ion-label class="text-color date-address-text"
              >{{siparis.teslimEtmeAdres}}
            </ion-label>
            <ion-label class="text-color date-address-text"
              >{{siparis.teslimEtmeAdres}}
            </ion-label>
          </div>
        </div>
      </ion-item>

      <!--RESIM EKLE-->
      <ion-item button detail="false" lines="none" class="image-container">
        <div>
          <ion-icon
            class="text-color"
            style="text-align: center; font-size: 2rem; padding-left: 1rem"
            name="camera"
          ></ion-icon>
          <ion-label
            class="text-color"
            style="text-align: center; font-size: 0.8rem"
            >resim ekle
          </ion-label>
        </div>
      </ion-item>

      <ion-label class="pic-info text-color"
        >teslim edilecek ürünler için resim ekleyebilirsiniz</ion-label
      >

      <div class="button-container">
        <ion-button expand="block"> teslim et</ion-button>
      </div>
    </div>

    <div>
      <ion-item color="medium" lines="none" button detail="false">
        <ion-icon class="text-color warning-icon" name="warning"></ion-icon>
        <ion-label class="text-color warning-text"
          >sipariş hakkında sorun bildir
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
